altgraph==0.17.5
customtkinter==6.0.0
Cython==3.2.8
darkdetect==0.8.0
macholib==1.16.4
packaging==26.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pyobjc-core==12.2.1
pyobjc-framework-Cocoa==12.2.1
screeninfo==0.8.1
setuptools==83.0.0
